body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}

.grid-container{
  display: grid;

  width: 960px;
  height: auto;
  margin: 20px auto;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;

  grid-template-areas: 'header header header header'
    'menu menu menu menu'
    'main main main right'
    'footer footer footer footer';
  grid-gap: 10px;
  
}

.item1 { 
  grid-area: header;
  background-color: lightcyan;
  padding: 20px;
 }

 .item2 { 
  grid-area: menu; 
  background-color: lightpink;
  padding: 20px;
}

.item3 { 
  grid-area: main; 
  background-color: lightsteelblue;
  padding: 20px;
}

.item4 { 
  grid-area: right; 
  background-color: moccasin;
  padding: 20px;
}

.item5 { 
  grid-area: footer; 
  background-color: powderblue;
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

} 

.box1{
  border: solid 1px palevioletred;
}

.box2{
  border: solid 1px palevioletred;
}

.box3{
  border: solid 1px palevioletred;
}