body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}

.grid-container{
  display: grid;

  width: 90%;
  height: auto;
  margin: 0 auto;

  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;

  grid-template-areas: 'header header header header header header'
    'menu menu menu menu menu menu'
    'box1 box1 box2 box2 box3 box3'
    'main main main main right right'
    'footer footer footer footer footer footer';
  column-gap: 2%;
  row-gap: 20px;
  
}

.item1 { 
  grid-area: header;
  border: 10px solid lightcyan;
  padding: 20px;
 }

 .item2 { 
  grid-area: menu; 
  border: 10px solid lightpink;
  padding: 20px;
}

.item6 {
  grid-area: box1;
  border: 10px solid black;
  padding: 20px;
}

.item7 {
  grid-area: box2;
  border: 10px solid black;
  padding: 20px;
}

.item8 {
  grid-area: box3;
  border: 10px solid black;
  padding: 20px;
}

.item3 { 
  grid-area: main; 
  border: 10px solid lightsteelblue;
  padding: 20px;
}

.item4 { 
  grid-area: right; 
  border: 10px solid moccasin;
  padding: 20px;
}

.item5 { 
  grid-area: footer; 
  border: 10px solid powderblue;
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

} 

.footer1{
  border: solid 5px powderblue;
  margin: 10px;
  padding: 20px;
}

.footer2{
  border: solid 5px powderblue;
  margin: 10px;
  padding: 20px;
}

.footer3{
  border: solid 5px powderblue;
  margin: 10px;
  padding: 20px;
}

@media screen and (min-width: 1200px){
  body{
    background-color: darkorchid;
  }
}

/* Media screen from 960px to 1200px. */
@media screen and (min-width: 960px){
  body{
    background-color: darkslategrey;
  }

  .grid-container{
    display: grid;
  
    width: 90%;
    height: auto;
    margin: 0 auto;
  
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
  
    grid-template-areas: 'header header header header header header'
      'menu menu menu menu menu menu'
      'box1 box2 box2 box2 box2 box3'
      'main main main main right right'
      'footer footer footer footer footer footer';
    column-gap: 2%;
    row-gap: 20px;
  }
}
/* Media screen from 960px to 1200px. */

/* Media screen from 768px to 960px. */
@media screen and (min-width: 768px){
  body{
    background-color: darkred;
  }

  .grid-container{
    display: grid;
  
    width: 90%;
    height: auto;
    margin: 0 auto;
  
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
  
    grid-template-areas: 'header header header header header header'
      'menu menu menu menu menu menu'
      'box1 box1 box2 box2 box3 box3'
      'main main main right right right'
      'footer footer footer footer footer footer';
    column-gap: 2%;
    row-gap: 20px;
  }
}
/* Media screen from 768px to 960px. */

/* Media screen smaller than 768px */
@media screen and (max-width: 768px){
  body{
    background-color: darkblue;
  }

  .grid-container{
    display: grid;
  
    width: 90%;
    height: auto;
    margin: 0 auto;
  
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
  
    grid-template-areas: 'header header header header header header'
      'menu menu menu menu menu menu'
      'box1 box1 box1 box1 box1 box1'
      'box2 box2 box2 box2 box2 box2'
      'box3 box3 box3 box3 box3 box3'
      'main main main main main main'
      'right right right right right right'
      'footer footer footer footer footer footer';
    column-gap: 2%;
    row-gap: 20px;
  }
  
  .item1 { 
    grid-area: header;
    border: 10px solid lightcyan;
    padding: 20px;
   }
  
   .item2 { 
    grid-area: menu; 
    border: 10px solid lightpink;
    padding: 20px;
  }
  
  .item6 {
    grid-area: box1;
    border: 10px solid black;
    padding: 20px;
  }
  
  .item7 {
    grid-area: box2;
    border: 10px solid black;
    padding: 20px;
  }
  
  .item8 {
    grid-area: box3;
    border: 10px solid black;
    padding: 20px;
  }

  .item3 { 
    grid-area: main; 
    border: 10px solid lightsteelblue;
    padding: 20px;
  }
  
  .item4 { 
    grid-area: right; 
    border: 10px solid moccasin;
    padding: 20px;
  }
  
  .item5 { 
    grid-area: footer; 
    border: 10px solid powderblue;
    padding: 20px;
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'footer1 footer1 footer1'
    'footer2 footer2 footer2'
    'footer3 footer3 footer3';
  } 
  
  .footer1{
    border: solid 5px powderblue;
    margin: 10px;
    padding: 20px;
    grid-area: footer1;
  }
  
  .footer2{
    border: solid 5px powderblue;
    margin: 10px;
    padding: 20px;
    grid-area: footer2;
  }
  
  .footer3{
    border: solid 5px powderblue;
    margin: 10px;
    padding: 20px;
    grid-area: footer3;
  }
}
/* Media screen smaller than 768px */