body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
  background-color: darkmagenta;
}

*{
  box-sizing: border-box;
}

.grid-container{
  display: grid;

  width: 90%;
  height: auto;
  margin: 0 auto;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;

  grid-template-areas: 'header header header header header header header header header header header header'
    'menu menu menu menu menu menu menu menu menu menu menu menu'
    'box1 box1 box2 box2 box2 box2 box2 box2 box2 box2 box3 box3'
    'main main main main main main main main main right right right'
    'footer footer footer footer footer footer footer footer footer footer footer footer'; 
  column-gap: 2%;
  row-gap: 20px;
  
}

.item1 { 
  grid-area: header;
  border: 10px solid lightcyan;
  padding: 20px;
 }

 .item2 { 
  grid-area: menu; 
  border: 10px solid lightpink;
  padding: 20px;
}

.item6 {
  grid-area: box1;
  border: 10px solid black;
  padding: 20px;
}

.item7 {
  grid-area: box2;
  border: 10px solid black;
  padding: 20px;
}

.item8 {
  grid-area: box3;
  border: 10px solid black;
  padding: 20px;
}

.item3 { 
  grid-area: main; 
  border: 10px solid lightsteelblue;
  padding: 20px;
}

.item4 { 
  grid-area: right; 
  border: 10px solid moccasin;
  padding: 20px;
}

.item5 { 
  grid-area: footer; 
  border: 10px solid powderblue;
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

} 

.footer1{
  border: solid 5px powderblue;
  margin: 10px;
  padding: 20px;
}

.footer2{
  border: solid 5px powderblue;
  margin: 10px;
  padding: 20px;
}

.footer3{
  border: solid 5px powderblue;
  margin: 10px;
  padding: 20px;
}

/* Media screen from 1200px to larger. */
@media screen and (min-width: 1200px){
  
  .grid-container{
    display: grid;
  
    width: 90%;
    height: auto;
    margin: 0 auto;

    column-gap: 2%;
    row-gap: 20px;
  }
}
/* Media screen from 1200px to larger. */

/* Media screen from 960px to 1200px. */
@media screen and (max-width: 1200px){
  body{
    background-color: darkslategrey;
  }

  .grid-container{
    display: grid;
  
    width: 90%;
    height: auto;
    margin: 0 auto;

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
  
    grid-template-areas: 'header header header header header header header header header header header header'
    'menu menu menu menu menu menu menu menu menu menu menu menu'
    'box1 box1 box1 box2 box2 box2 box2 box2 box2 box3 box3 box3'
    'main main main main main main main main right right right right'
    'footer footer footer footer footer footer footer footer footer footer footer footer'; 

  /* grid-template-areas: 'header header header header header header'
      'menu menu menu menu menu menu'
      'box1 box2 box2 box2 box2 box3'
      'main main main main right right'
      'footer footer footer footer footer footer';*/
    column-gap: 2%;
    row-gap: 20px;
  }
}
/* Media screen from 960px to 1200px. */

/* Media screen from 768px to 960px. */
@media screen and (max-width: 960px){
  body{
    background-color: darkred;
  }

  .grid-container{
    display: grid;
  
    width: 90%;
    height: auto;
    margin: 0 auto;
  
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
  
    grid-template-areas: 'header header header header header header'
      'menu menu menu menu menu menu'
      'box1 box1 box2 box2 box3 box3'
      'main main main right right right'
      'footer footer footer footer footer footer';
    column-gap: 2%;
    row-gap: 20px;
  }
}
/* Media screen from 768px to 960px. */

/* Media screen smaller than 768px */
@media screen and (max-width: 768px){
  body{
    background-color: darkblue;
  }

  .grid-container{
    display: grid;
  
    width: 90%;
    height: auto;
    margin: 0 auto;
  
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
  
    grid-template-areas: 'header header header header header header'
      'menu menu menu menu menu menu'
      'box1 box1 box1 box1 box1 box1'
      'box2 box2 box2 box2 box2 box2'
      'box3 box3 box3 box3 box3 box3'
      'main main main main main main'
      'right right right right right right'
      'footer footer footer footer footer footer';
    column-gap: 2%;
    row-gap: 20px;
  }
  
  .item1 { 
    grid-area: header;
    border: 10px solid lightcyan;
    padding: 20px;
   }
  
   .item2 { 
    grid-area: menu; 
    border: 10px solid lightpink;
    padding: 20px;
  }
  
  .item6 {
    grid-area: box1;
    border: 10px solid black;
    padding: 20px;
  }
  
  .item7 {
    grid-area: box2;
    border: 10px solid black;
    padding: 20px;
  }
  
  .item8 {
    grid-area: box3;
    border: 10px solid black;
    padding: 20px;
  }

  .item3 { 
    grid-area: main; 
    border: 10px solid lightsteelblue;
    padding: 20px;
  }
  
  .item4 { 
    grid-area: right; 
    border: 10px solid moccasin;
    padding: 20px;
  }
  
  .item5 { 
    grid-area: footer; 
    border: 10px solid powderblue;
    padding: 20px;
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'footer1 footer1 footer1'
    'footer2 footer2 footer2'
    'footer3 footer3 footer3';
  } 
  
  .footer1{
    border: solid 5px powderblue;
    margin: 10px;
    padding: 20px;
    grid-area: footer1;
  }
  
  .footer2{
    border: solid 5px powderblue;
    margin: 10px;
    padding: 20px;
    grid-area: footer2;
  }
  
  .footer3{
    border: solid 5px powderblue;
    margin: 10px;
    padding: 20px;
    grid-area: footer3;
  }
}
/* Media screen smaller than 768px */

/* Grid-solution exempel nr. 2 */
#container {
	width: 89.5%;
	margin: 0 auto;
	display: grid;

	grid-template-columns: repeat(12, 1fr);
	column-gap: 2.08%;
	row-gap: 20px;

	/* Solution example with grid areas */
	/* grid-template-areas: 
	"header header header header header header header header header header header header"
	"box1 box1 box2 box2 box2 box2 box2 box2 box2 box2 box3 box3"
	"main main main main main main main main main aside aside aside"
	"footer footer footer footer footer footer footer footer footer footer footer footer"
	; */
}

header,
main,
aside,
footer,
section {
	border: 1px solid #333;
	min-height: 100px;
}

header {
	grid-column: 1 / -1;
	/* grid-area: header; */
}

#box1 {
	grid-column: 1 / 3;
	/* grid-area: box1; */
}

#box2 {
	grid-column: 3 / 11;
	/* grid-area: box2; */
}

#box3 {
	grid-column: 11 / -1;
	/* grid-area: box3; */
}

main {
	grid-column: 1 / 10;
	/* grid-area: main; */
}

aside {
	grid-column: 10 / -1;
	/* grid-area: aside; */
}

footer {
	grid-column: 1 / -1;
	/* grid-area: footer; */
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 2%; 
	padding: 5px;
}


/* Small desktop screens */
@media screen and (max-width: 1200px) {
	#box1 {
		grid-column: 1 / 4;
	}
	
	#box2 {
		grid-column: 4 / 10;
	}
	
	#box3 {
		grid-column: 10 / -1;
	}
	
	main {
		grid-column: 1 / 9;
	}
	
	aside {
		grid-column: 9 / -1;
	}
}


/* Tablet screens */
@media screen and (max-width: 960px) {
	#box1 {
		grid-column: 1 / 5;
	}
	
	#box2 {
		grid-column: 5 / 9;
	}
	
	#box3 {
		grid-column: 9 / -1;
	}
	
	main {
		grid-column: 1 / 7;
	}
	
	aside {
		grid-column: 7 / -1;
	}
	
	footer {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 10px;
	}
}

@media screen and (max-width: 767px) {
	#box1,
	#box2,
	#box3,
	main,
	aside,
	footer,
	footer section  {
		grid-column: 1 / -1;
	}
}
